:root{
    --mainDark: #000000;
    --lightBlue: #48bcff;
    --mainWhite: #f3f3f3;
    --lightDark: #232528;
    --mainYellow: #ffa400;
}

body{
    font-family: 'Oswald', sans-serif !important;
    background: #f4f4f2 !important;
    color: var(--lightDark) !important;
}

.text-title{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue{
    color: var(--lightBlue);
}

.text-bright{
    color: var(--lightBlue);
}

/*-------Navbar.js-------*/

/*-------CartItem.js-------*/
